// Buttons
.btn-primary {
    background: $primary-color;
    color: #fff;
    border: 2px solid $primary-color;
    font-weight: bold;
    font-size: 1.15rem;
    padding: .4rem 2rem;
    border-radius: .5rem;
    cursor: pointer;
    text-decoration: none;
}

.btn-outline {
    @extend .btn-primary;
    background: #fff;
    color: $primary-color;
}

.btn-primary-small {
    @extend .btn-primary;
    font-size: .9rem;
    padding: .3rem 1.5rem;
}

.btn-danger-small {
    @extend .btn-primary;
    font-size: .9rem;
    padding: .3rem 1.5rem;
    background: #ff2727;
    border: 2px solid #ff2727;

    &:disabled {
        cursor: default;
        border: 2px solid #838383;
        background: #838383;;
    }
}

// Search
.search {
    flex-basis: 35rem;
    position: relative;

    .search-icon {
        fill: gray;
        top: .65rem;
        left: 1rem;
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
    }

    .search-input {
        width: 100%;
        padding-left: 2.8rem;

        &:focus ~ .search-icon {
            fill: $primary-color;
        }
    }

    .btn-clear {
        position: absolute;
        right: .75rem;
        top: .75rem;
        border-radius: 50%;
        border: none;
        width: 1rem;
        height: 1rem;
        padding: 0;
        background: none;
        cursor: pointer;

        svg {
            width: 100%;
            path {
                fill: #b3b3b3;;
            }
        }
    }

    .results {
        display: block;
        width: 100%;
        position: absolute;
        top: 3rem;
        left: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        background: #fff;
        border-radius: .5rem;
        border: 1px solid #cfcfcf;
        overflow: hidden;

        .result a{
            color: inherit;
            text-decoration: none;
            display: flex;
            padding: 1rem;

            &:hover {
                background: #efefef;
            }

            img {
                background: orange;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                margin-right: 1rem;
            }

            .info {
                .title {
                    font-size: 1rem;
                    margin: 0 0 .2rem;
                }
                .members {
                    color: gray;
                }
            }
        }

        .no-results {
            padding: 1rem;
        }
    }

    .loading {
        padding: 1.5rem;
        span {
            display: block;
            margin-bottom: 1.5rem;
            height: 1rem;
            width: 100%;
            background: #efefef;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


// Form stuff
.input {
    outline: none;
    border: 1px solid #b3b3b3;
    border-radius: .5rem;
    padding: .5rem .75rem;

    &:focus {
        caret-color: $primary-color;
        border: 1px solid $primary-color;
    }
}

.input-error {
    border: 1px solid #9f0000;
}

.error-msg {
    font-size: .8rem;
    color: #9f0000;
    margin-bottom: .5rem;
}

.select-box{
    @extend .input;
}


// Voting buttons
.voting-buttons {
    display: flex;
    align-items: center;

    .btn-vote {
        outline: none;
        background: transparent;
        border: none;
        padding: .5rem .5rem .3rem;
        cursor: pointer;
        border-radius: .5rem;
        svg {
            width: 1.2rem;
            height: 1.2rem;

            path {
                fill: #515151
            }
        }

        &:hover {
            background: #cfcfcf;
        }
    }

    .btn-vote-up:hover path,
    .btn-vote-up-clicked svg path{
        fill: $positive-color
    }

    .btn-vote-down:hover path,
    .btn-vote-down-clicked svg path{
        fill: $negative-color;
    }

    .score {
        font-weight: bold;
        margin: 0 1rem;
    }
}

// Modal view
.modal-view {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    width: 100%;
    height: 100%;

    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        border-radius: 0.5rem;
        border: 1px solid #cfcfcf;
        padding: 1rem;
        //border-radius: ;

        .title {
            margin-top: .5rem;
        }

        .input {
            width: 100%;
            margin: .5rem 0;
        }
    }
}

// Pop up notifications
.pop-up-notifications {
    position: fixed;
    z-index: 10;
    bottom: 3rem;
    //right: -15rem;
    right: 0;
    list-style: none;
    padding: 0;
    margin: 0 3rem 0 0;

    .pop-up-notification {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 21rem;
        background: #fff;
        border-radius: 0.5rem;
        border: 1px solid #cfcfcf;
        padding: 1rem;
        margin-top: 1rem;

        .left {
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .icon {
            width: 2.5rem;
            flex-shrink: 0;
            margin-right: 1rem;
        }

        .icon-success path{
            fill: $positive-color;
        }

        .icon-error path{
            fill: $negative-color;
        }

        .icon-info path{
            fill: $primary-color;
        }

        .title {
            font-weight: bold;
            font-size: 1rem;
        }

        .btn-close {
            border: none;
            background: transparent;
            margin-left: 1rem;
            cursor: pointer;
            padding: .5rem .5rem .2rem;
            border-radius: .5rem;
            svg {
                width: 1rem;
                path {
                    fill: #7a7a7a;
                }
            }

            &:hover {
                background: #cfcfcf;
            }
        }
    }
}
