// Buttons
.btn-primary {
    background: $primary-color;
    color: #fff;
    border: 2px solid $primary-color;
    font-weight: bold;
    font-size: 1.15rem;
    padding: .4rem 2rem;
    border-radius: .5rem;
    cursor: pointer;

}

.btn-outline {
    @extend .btn-primary;
    background: #fff;
    color: $primary-color;
}

.btn-primary-small {
    @extend .btn-primary;
    font-size: .9rem;
    padding: .3rem 1.5rem;
}


// Form stuff
.input {
    outline: none;
    border: 1px solid #b3b3b3;
    border-radius: .5rem;
    padding: .5rem .75rem;

    &:focus {
        caret-color: $primary-color;
        border: 1px solid $primary-color;
    }
}

.input-error {
    border: 1px solid #9f0000;
}

.error-msg {
    font-size: .8rem;
    color: #9f0000;
    margin-bottom: .5rem;
}

.select-box{
    @extend .input;
}


// Voting buttons
.voting-buttons {
    display: flex;
    align-items: center;

    .btn-vote {
        outline: none;
        background: transparent;
        border: none;
        padding: .5rem .5rem .3rem;
        cursor: pointer;
        border-radius: .5rem;
        svg {
            width: 1.2rem;
            height: 1.2rem;

            path {
                fill: #515151
            }
        }

        &:hover {
            background: #cfcfcf;
        }
    }

    .btn-vote-up:hover path,
    .btn-vote-up-clicked svg path{
        fill: $positive-color
    }

    .btn-vote-down:hover path,
    .btn-vote-down-clicked svg path{
        fill: $negative-color;
    }

    .score {
        font-weight: bold;
        margin: 0 1rem;
    }
}
