.container {
    padding-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .meta {
        margin-right: 2rem;
        width: 20rem;

        .meta-item {
            border: 1px solid #cfcfcf;
            width: 100%;

            .header {
                font-weight: bold;
                border-top-right-radius: 0.5rem;
                border-top-left-radius: 0.5rem;
                padding: .8rem;
                background: $primary-color;
                color: #fff;
            }

            .content {
                padding: .8rem;
            }
        }
    }

    .timeline {
        flex: 1;
    }
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 5;
    padding: .5rem 2rem;
    background: #fff;
    width: 100%;
    box-shadow: 0px -12px 18px 0px rgba(0,0,0,0.6);

    .logo {
        span {
            font-size: 1.75rem;
        }
        a {
            color: #000;
            text-decoration: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img {
            width: 3rem;
            margin-right: 1rem;
        }
    }

    .user {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000;
        padding: .5rem;
        border-radius: .5rem;

        img {
            border-radius: 50%;
            width: 2rem;
            margin-right: .5rem;
        }

        &:hover {
            background: #e0f2ff;
        }
    }
}

.timeline {
    max-width: 800px;
}

.fake-nav {
    width: 20rem;
}

.main-navigation {
    top: 0;
    left: 0;
    position: fixed;
    padding-top: 4rem;
    width: 18rem;
    height: 100%;

    ul {
        list-style: none;
        padding: 1rem 2rem;

        li {
            margin-bottom: 1rem;
        }

        a {
            display: flex;
            align-items: center;
            border-radius: 9999px;
            padding: .5rem 1rem;
            color: #000;
            text-decoration: none;
            width: 100%;
        }

        a.selected,
        a:hover {
            background: lighten($primary-color, 38);
            color: $primary-color;

            svg path {
                fill: $primary-color;
            }
        }
    }


    svg {
        width: 2rem;
        margin-right: .75rem;
    }

    .create-community,
    .create-post{
        width: 1.8rem;
    }

    .saved {
        width: 1.3rem;
        margin: 0 1rem 0 .4rem;
    }
}
